@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
section dl, dd, dt{
	margin: 0px;
	padding: 0px;
}
section a{
	
}

div.mypage_container{
	width: 1100px;
	margin: 0px auto;
	margin-top: 40px;
	position: relative;
}
div.mypage_container h2.mypage_title{
	font-family: 'Lato', sans-serif;
	border-bottom: 1px solid #4B4B4B;
	padding-bottom: 10px;
}
div.mypage_container div.mypage_info{
	height: 134px;
    margin: 0 0 33px 0;
    border: 2px solid #000;
    font-size: 12px;
}
div.mypage_container div.mypage_info table{
	float: left;
    text-align: center;
}
div.mypage_container div.mypage_info table td{
	padding: 35px 0;
    border-right: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    color: #989898;
}

div.mypage_container div.mypage_info table td.name {
    padding: 0;
    font-size: 11px;
    line-height: 150%;
    letter-spacing: -1px;
}
div.mypage_container div.mypage_info table td span {
    color: #000;
    font-weight: bold;
    font-size: 14px;
}
div.mypage_container div.mypage_info table td span.lavel {
    font-size: 12px;
}
div.mypage_container div.mypage_info table td span.milage, 
div.mypage_container div.mypage_info table td span.coupon {
    text-decoration: underline;
}

div.mypage_container div.mypage_info table th{
	padding: 14px 0 13px 0;
    border-right: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    color: #000;
    font-weight: bold;
    background: #f8f8f8;
}
div.mypage_container div.mypage_info table.myinfo1{
	width: 705px;
}
div.mypage_container div.mypage_info table.myinfo1 td {
    border-bottom: 0;
}
div.mypage_container div.mypage_info table.myinfo2{
	width: 389px;
}
div.mypage_container div.mypage_info table.myinfo2 th {
    padding: 14px 0 13px 0;
}
div.mypage_container div.mypage_info table.myinfo2 td {
	padding: 14px 0 13px 15px;
    border-right: 0;
    text-align: left;
    color: #000;
    font-size: 11px;
}
div.mypage_container div.mypage_info table.myinfo2 th.last {
	padding-bottom: 16px;
    border-bottom: 0;
}
div.mypage_container div.mypage_info table.myinfo2 td.last {
	padding-bottom: 16px;
    border-bottom: 0;
}
	
	
/** 메뉴 영역 */
div.mypage_container div.mypage_content_wrap{
	width: 1100px;
	margin: 0px auto;
}
div.mypage_container div.mypage_content_wrap div.mypage_menu{
	display: block;
	float: left;
}
div.mypage_container div.mypage_content_wrap div.mypage_menu dl{
	width: 198px;
    border: 1px solid #333;
    
}
div.mypage_container div.mypage_content_wrap div.mypage_menu dl dt{
	padding: 45px 0 38px 0;
    border-bottom: 1px solid #818181;
    font-weight: bold;
    text-align: center;
    background: #f5f5f5;
}
div.mypage_container div.mypage_content_wrap div.mypage_menu dl dt a{
	color: #000;
	font-size: 14px;
}
div.mypage_container div.mypage_content_wrap div.mypage_menu dl dd{
	padding: 18px 0 15px 40px;
    text-align: left;
    border-bottom: 1px solid #d6d6d6;
}
div.mypage_container div.mypage_content_wrap div.mypage_menu dl dd a{
	color: #4B4B4B;
	font-size: 12px;
}
div.mypage_container div.mypage_content_wrap div.mypage_content{
	width: 900px;
	float: left;
}
div.mypage_container div.mypage_content_wrap div.mypage_content div.content_wrap{
	width: 860px;
	margin: 0px auto;
}
div.mypage_container div.mypage_content_wrap div.mypage_content div.content_wrap h3.mypage_tit{
	padding: 9px 0 10px 11px;
    margin: 0;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    line-height: 100%;
}
div.mypage_container div.mypage_content_wrap div.mypage_content div.content_wrap select{
	width: 85px;
	height: 33px;
	font-size: 13px;
	float:left;
}

div.mypage_container div.mypage_content_wrap div.mypage_content div.content_wrap div.div_search{
	display: block;
	height: 32px;
    width: 239px;
    border-bottom: 1px solid #ffd8ce;
    margin-left: 10px;
    float:left;
}
div.mypage_container div.mypage_content_wrap div.mypage_content div.content_wrap div.div_search input{
	width: 211px;
    border: none;
    height: 30px;
    font: 12px/30px dotum;
    color: #ccc;
    text-indent: 10px;
    float:left;
}
div.mypage_container div.mypage_content_wrap div.mypage_content div.content_wrap div.div_search a{
	display: block;
    width: 26px;
    height: 26px;
    background-image: url(/semi_project/img/icon/gnb_search.gif);
    background-repeat: no-repeat;
    float:left;
}


div.mypage_container div.mypage_content_wrap div.mypage_content div.content_wrap table.table_style{
	width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border-bottom: 1px solid #000;
    margin-top: 60px;
}
div.mypage_container div.mypage_content_wrap div.mypage_content div.content_wrap table.table_style thead th{
	padding: 12px 0;
    text-align: center;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    color: #4c4c4c;
    font-size: 12px;
    font-weight: normal;
}
div.mypage_container div.mypage_content_wrap div.mypage_content div.content_wrap table.table_style tbody td{
	padding: 12px 0;
    text-align: center;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    color: #4c4c4c;
    font-size: 12px;
    font-weight: normal;
}
div.mypage_container div.mypage_content_wrap div.mypage_content div.content_wrap table tbody td.td_subject{
	/* font: bold 12px dotum;
    color: #585858;
   	text-align: left; */
   	/*vertical-align: top;*/
   	text-align: left;
}
div.mypage_container div.mypage_content_wrap div.mypage_content div.content_wrap table tbody td.td_top{
	/* text-align: center;
    vertical-align: top;   */
}
	td.td_subject a.subject_a{
		color: #585858;
	}
	td.td_subject div.qna_content{
		display: none;
		padding: 10px 0px;
	    font: 12px dotum;
	    color: #585858;
	    position: relative;
	}
	td.td_subject div.qna_content div.rqna_reply_div{
		position: absolute;
	    right: 10px;
	    bottom: 0px;
	}
div.mypage_container div.mypage_content_wrap div.mypage_content div.content_wrap table tbody td div.admin_bt_area{	
	margin: 0px auto;
}
div.mypage_container div.mypage_content_wrap div.mypage_content div.content_wrap table tbody td div.admin_bt_area a{
	display: inline-block;		
	width: 50px;
}
div.mypage_container div.mypage_content_wrap div.mypage_content div.content_wrap table tbody td div.admin_bt_area a:FIRST-CHILD{
	margin-bottom: 10px;	
}


/* qna 문의 하기 레이어 */
div.qna_layer{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	margin: auto auto;
}
div.qna_layer div.qna_layer_bg{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}
div.qna_layer div.qna_layer_pop{
	display: block;
	width: 100%;
	height: 100%;
}
div.qna_layer div.qna_layer_pop div.qna_layer_content{
	display: block;
	position:relative;
	margin: 0px auto;
	margin-top: -340px;
	width: 680px;
	height: 620px;
	top: 50%;
}
	
/** 페이지 부분 */
div.item_page{
	padding-top: 20px;
    margin-bottom: 80px;
    
    text-align: center;
    position: relative;
    vertical-align: middle;
    margin-top: 20px;
}
div.item_page a{
	display: inline-block;
    font: bold 12px dotum;
    color: #919191;
    margin: 0px 4px;
    height: 29px;
    width: 29px;
    line-height: 29px;
    vertical-align: middle;
    border: 1px solid #fff;
    text-decoration: none;
}
div.item_page a.num:HOVER{
	border: 1px solid #dcdcdc;
    background-color: #f0f0f0;
}
div.item_page a.on{
	border: 1px solid #dcdcdc;
    background-color: #f0f0f0;
}

	
	
	
	
	
	
	
	
	
