@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
.login_section{
	width: 1100px;
	margin: 0px auto;
	font-family: 'Lato', sans-serif;
}
div.login_container a{
	margin: 0px auto;
	color: #e8380d;
}
div.login_container div.login_container_title h1{
	text-align: center;
    margin-top: 50px;
}
div.login_container div.login_container_content{
	
}
div.login_container div.login_container_content div.div_login_box{
	width: 800px;
    height: 400px;
    margin: 0px auto;
    border: 1px solid silver;
    margin-bottom: 50px;
}
	div.div_login_box div.login_input_wrap{
		width: 700px;
	    height: 200px;
	    margin: 0px auto;
	    margin-top: 50px;
	}
	div.div_login_box div.login_input_wrap div.member_login_div{
		margin: 0px auto;
		width: 450px;
	    height: 200px;
	    padding-top: 20px;
	}
	div.div_login_box div.login_input_wrap div.member_login_div div.member_login_div_input_area{
		width: 200px;
	    height: auto;
	    margin-left: 20px;
	    margin-top: 35px;
	    float: left;
	}
		div.member_login_div_input_area table{
			border-collapse: collapse;
    		width: 189px;
		}
		div.member_login_div_input_area table tr{
			height: 30px;
		}
		div.member_login_div_input_area table tr:NTH-CHILD(2){
			border-bottom: 1px solid silver;
		}
		div.member_login_div_input_area table tr:NTH-CHILD(3){
			border-bottom: 1px solid silver;
		}
		div.member_login_div_input_area table td h4.member_login_div_input_area_title{
			margin: 0;	
		}
		div.member_login_div_input_area table td input.login_input{
			border: 1px solid white;
		}
		
	div.div_login_box div.login_input_wrap div.member_login_div div.member_login_div_bt_area{
		    margin-top: 60px;
    		margin-left: 40px;
    		float: left;
	}
		div.member_login_div_bt_area a{
			display: block;
			width: 150px;
			height: 20px;
			border: 2px solid #e8380d;
			padding: 14px 15px;
			text-align: center;
			transition: all 0.3s;
		}
		div.member_login_div_bt_area a:HOVER{
			background-color: #e8380d;
			color: #ffffff;
		}
		div.member_login_div_bt_area a img{
			width: 88px;
			height: 88px;
		}
	
	
	div.div_login_box div.login_button_wrap{
		width: 700px;
	    height: 100px;
	    margin: 0 auto;
	    margin-top: 25px;
	}
	div.div_login_box div.login_button_wrap div.member_regist_div{
		text-align: center;
	    font-size: 13px;
	    padding-top: 30px;
	    margin-left: 25px;
	    float: left;
	}
	div.div_login_box div.login_button_wrap div.member_pwdsearch_div{
		text-align: center;
	    font-size: 13px;
	    padding-top: 30px;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	